<h1><%= current_user.first_name %>'s Profile</h1>

<div id="app3">


  <div class="row"> 

    <div class="col-md-6">
      <div align="center">
        <img width="200" height="200" src="http://www.iconsdb.com/icons/preview/white/square-xxl.png">
        <h3> Your BMI is: {{BMI}}</h3>
        <h3> Recommended Daily Calories: {{AvgCalories}} </h3>
      </div>
    </div>
    
    <div class="col-md-6" >
      <h2> My Stats </h2>
      <hr>
      <h3 v-if="profiles[0]">Gender: {{profiles[0].gender}} </h3> 
      <h3 v-else> Gender:</h3>

      <h3 v-if="profiles[0]">Age: {{profiles[0].age}}</h3>
      <h3 v-else>Age: </h3>
      <h3 v-if="profiles[0]">Weight: {{profiles[0].weight}}</h3>
      <h3 v-else>Weight: </h3>
      <h3 v-if="profiles[0]">Height: {{profiles[0].height}}</h3>
      <h3 v-else>Height: </h3>
      
      <h3 v-if="profiles[0]">Activity Level: {{profiles[0].activity_level}}</h3>
      <h3 v-else>Activity Level: </h3>

  
    <div class="search">
      <button class="btn" onclick="location.href='profile/edit'"> Edit Profile </button>
    </div>

    </div>


  </div>

</div>