
<script type="text/javascript">
$(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        // put your options and callbacks here
    });
});

</script>

<h1>My Meals</h1>

<div id="calendar"></div>

<div id="app2">
  <ul>
    <li v-for= "meal in meals">

      <h4>{{meal.created_at}}</h4>
      <h4>Total Calories: {{meal.total_calories}}</h4>
      <h4>Total Protein: {{meal.total_protein}}</h4>
      <h4>Total Totalfat: {{meal.total_totalfat}}</h4>
      <h4>Total Sugar: {{meal.total_sugar}}</h4>
      <h4>Total Sodium: {{meal.total_sodium}}</h4>
      <h4>Total Cholesterol: {{meal.total_cholesterol}}</h4>

    </li>
  </ul>
</div>
