<div id="app2">

  <h4>Total Calories: {{meal.total_calories}}</h4>
  <h4>Total Protein: {{meal.total_protein}}</h4>
  <h4>Total Fat: {{meal.total_totalfat}}</h4>
  <h4>Total Sugar: {{meal.total_sugar}}</h4>
  <h4>Total Sodium: {{meal.total_sodium}}</h4>
  <h4>Total Cholesterol: {{meal.total_cholesterol}}</h4>

</div>