<h1>Search Food</h1>
<div id="app">

<div class="search">
  <div class="buttonHolder">
    <%= form_tag "", method: :get do %>
      <!-- <input v-model="foodSearch" type="text" placeholder="Search..." list="names"> -->
      <div align="center" class="select">
        <v-select v-model="foodSearch" :debounce="250" :options="options" placeholder="Search..."></v-select>
      <button v-on:click="search($event)" class="btn" type="submit" value="Search" > Search</button>
      </div>
    <% end %>
  </div>

    <div class="underSearch" align="center">
      <div id="element1">
          <h4>Food Name: {{ food.name }}</h4> 
      </div>
      <div id="element1">|</div>
      <div id="element2">
          <h4>Serving Size: {{ food.serving_size }} {{ food.unit }}</h4>
      </div>
      <div id="element1">|</div>
      <div id="element2">
        <h4>Quantity: </h4>
      </div>
      <div id="element1">
        <select v-model="selected" v-on:change="quantity" class="form-control quant" >
          <option v-bind:value="{ number: 1 }">1</option>
          <option v-bind:value="{ number: 2 }">2</option>
          <option v-bind:value="{ number: 3 }">3</option>
          <option v-bind:value="{ number: 4 }">4</option>
          <option v-bind:value="{ number: 5 }">5</option>
        </select>
        </div>
    </div>

    <div class="row display">
      <div class="col-md-2">
        <h4>Calories</h4>
          <div class="well">
            <p v-if="calTotal > 0">{{ calTotal }}</p>
            <p v-else> {{food.calories}} </p>
          </div>
      </div>

      <div class="col-md-2">
        <h4>Protein (g)</h4>
          <div class="well">
            <p v-if="proTotal > 0"> {{ proTotal }} </p>
            <p v-else>{{ food.protein }}</p>
          </div>
      </div>

      <div class="col-md-2">
        <h4>Sugar (g)</h4>
          <div class="well">
          <p v-if="sugarTotal > 0">{{ sugarTotal }}</p>
          <p v-else>{{ food.sugar }}</p>
          </div>
      </div>

      <div class="col-md-2">
        <h4>Total Fat (g)</h4>
          <div class="well">
          <p v-if="fatTotal > 0"> {{ fatTotal }} </p>
          <p v-else>{{ food.totalfat }}</p>
          </div>
      </div>

      <div class="col-md-2">
        <h4>Sodium (mg)</h4>
          <div class="well">
          <p v-if="sodiumTotal > 0">{{ sodiumTotal }}</p>
          <p v-else>{{ food.sodium }}</p></div>
      </div> 

       <div class="col-md-2">
        <h4>Cholesterol (mg)</h4>
        <div class="well">
          <p v-if="cholesterolTotal > 0"> {{cholesterolTotal}}</p>
          <p v-else>{{ food.cholesterol }}</p>
        </div>
      </div>
    
      <div align="center">
        <button v-on:click="addFood()" class="btn">Add food to Meal</button>
        <button v-on:click="savedMeal()" onclick="location.href='/my_meals'" class="btn">Save Meal</button>
      </div>
    </div>

  <div class="foodList"> 
    <ul style="list-style: none;">
      <li v-for="addedFood in addedFoods" ><button v-on:click="removeFood(addedFood)" class="btn">X</button> {{ addedFood.quantity }} x {{ addedFood.name }} </li>
    </ul>
  </div>

</div>

</div>




