// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.

//Food List Styling
.foodList {
  float: right;
  margin-right: 130px;
  margin-top: 20px; 
}

#container {
  margin-top: 20px; 

}
.foodList li {
  margin-bottom: 5px; 
}