// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.

//Food List Styling
.foodList {
  margin-top: 20px; 
  margin-bottom: 10px;
}

.foodList li {
  margin-bottom: 5px; 
}